name: CI-DockerBuild

on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: sofiamosquera-maker/devops_pipelines/blob/main/.github/workflows/docker-workflow.yml@main
    with:
      docker_image_name: image-gateway
    secrets: inherit
